<h1>Convert <%= @from_symbol %> to <%= @to_symbol %></h1>

<p>1 <%= @from_symbol %> equals <%= @exchange_rate.inspect %> <%= @to_symbol %>.</p>

<p> Go <a href="/forex/<%= @from_symbol %>">back</a></p>

